@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    font-family: Poppins, sans-serif;
    background: rgb(209, 137, 3);
}

.left-content {
    justify-content: center;
    align-items: center;
    position: absolute;
}

img {
    width: 400px;
    height: 500px;
    background: rgb(139, 135, 135);
    position: relative;
    
}